@mixin flex-center(){
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@mixin flex ($f-direction, $j-content, $a-items){
    display: flex;
    flex-direction: $f-direction;
    justify-content: $j-content;
    align-items: $a-items;
}